<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIML ERP Portal</title>
    <link rel="icon" href="/static/images/clg logo white.jpg" type="image/x-icon">
    <frameset rows="*,40" frameborder="0" border="0" framespacing="0">
          <frameset cols="60,200" frameborder="0" border="0" framespacing="0">
              <frame name="menu" src="/templates/studentmain.html" marginheight="0" marginwidth="0" scrolling="auto" noresize>
              <frame name="content" src="/templates/persdetails.html" marginheight="0" marginwidth="0" scrolling="auto" noresize>
          </frameset>
</head>
<body>
    
</body>
</html>