<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Profile</title>
    <link rel="icon" href="/static/images/clg logo white.jpg" type="image/x-icon">
    <div class="container">
    <body>
    </head>
    <link rel="stylesheet" href="/static/styles/persdetails.css">
    <form id="StudentProfile" name="StudentProfile" method=post autocomplete="off" >
        <table width="100%" cellpadding="10" cellspacing="0" class="table">
            <tr>
                <td colspan="2" style="height:25px;" class="header">STUDENT PROFILE </td>
            </tr>
            
                
                <tr >
                    <td valign="top" width="70%">
                        <table width="100%" cellpadding="5" class="tabbord" border="2">
                            <tr>
                                <td width="40%" class="bordtab">Student Name</td>
                                <td><b></b></td>
                            </tr>  
                            <tr>
                                <td width="40%" class="bordtab">University Register No.</td>
                                <td><b></b></td>
                            </tr>
                            
                            
                            <tr>
                                <td width="40%" class="bordtab">Course</td>
                                <td><b></b></td>
                            </tr>
                            <tr>
                                <td width="40%" class="bordtab">Academic Year / Semester / Section</td>
                                <td><b></b></td>
                            </tr>
                            <tr>
                                <td width="40%" class="bordtab">Institution</td>
                                <td><b></b></td>
                            </tr>
                            <tr>
                                <td width="40%" class="bordtab">D.O.B. / Gender</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td width="40%" class="bordtab">Father Name / Mother Name </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td width="40%" valign="top" class="bordtab">Residential Address</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td width="40%" class="bordtab">Student Contact Number / Email</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td width="40%" class="bordtab">Parent Contact Number / Email</td>
                                <td></td>
                            </tr>

                            <tr>
                                <td width="40%" class="bordtab">Admitted Date</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td width="40%" class="bordtab">Community</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td width="40%" class="bordtab">Nationality / Religion</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td width="40%" class="bordtab">Hosteller</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td width="40%" class="bordtab">Occupation / Annual Income Rs.</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td width="40%" class="bordtab">District / State Name</td>
                                <td></td>
                            </tr>

                        </table>
                    </td>
                    <td valign="top" align="center" width="30%">
                        <table class="table ui-corner-all">
                            <tr align="center">
                                <TD align=center valign=middle style="border: 0px;">

                                   
                                    
                                    <div id="divImage" class="imgPhoto">
                                        <img src="/static/images/21-UCS-007 PIC.jpg" width="180px" height="180px">
                                
                                        <div valign="center">
                                            <p  style="text-align: center;height:30px;color:#0072dd;font-weight: bold;font-family:Tahoma; ">    
                                                Current Status: Active
                                            </p>
                                        
                                        </div>                                                
                                    </div>
                                    
                                    
                                </TD>
                            </tr> 
                                
                              
                        </table>
                    </td>
                </tr>
        </table>
    </form>

</head>
<body>
    
</body>
</html>