<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Faculty Login</title>
    <link rel="icon" href="/static/images/clg logo white.jpg" type="image/x-icon">
    <div class="container">
    <body>
    </head>
    <link rel="stylesheet" href="/static/styles/stafflogin.css">
    <center>
        <div class="head">
            <TABLE align="center"  width="100%" border="0" cellpadding='0' style="background:#0072dd;vertical-align: top;">
                <tr>
                    <td align="center" valign="top">
                        <img class="imgPhoto" alt="" src="/static/images/rmd bg.jpg" style="vertical-align:top;height: auto;width: 80%">
                    </td> 
                </tr>
            </TABLE>
        </div>
        <br>
        <br>
        <div class="c1">
            <p>AIML Faculty Login</p>
        </div>
        <div class="c2">
            <form action="/stafflogin.html" method="post">
                <br>
                <label for="username">Fac Name:</label>
                <input type="text" name="username" placeholder="Name with inital here" required>
                <br>
                <br>
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Password Here" required>
                <br>
                <br>
                <button class="button-7" role="button">Login</button>
            </form>
        </div>
    </center>
    </div>
    <div id="footer" class="footer">
        <p>© 2022 RMD ERP Portal Created By Jayaram Aditthya and Team</p>
    </div>
</div>
</html>