<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AIML Student Login</title>
    <link rel="icon" href="/static/images/clg logo white.jpg" type="image/x-icon">
    <div class="container">
    </head>
    <body>
    <link rel="stylesheet" href="/static/styles/studentlogin.css">
    <center>
        <div class="head">
            <TABLE align="center"  width="100%" border="0" cellpadding='0'>
                <tr>
                    <td align="center" valign="top">
                        <img class="imgPhoto" alt="" src="/static/images/rmd bg.jpg" style="vertical-align:top;height: auto;width: 80%">
                    </td> 
                </tr>
            </TABLE>
        </div>
        <br>

        <div class="c1">
            <p>AIML Students Login</p>
        </div>
        <div class="c2">
            <form action="/login" class="form" method="POST">
                <br>
                <label for="username">Regs.  No   :</label>
                <input type="text" name="username" placeholder="Register Number Here" id="username" required>
                <br>
                <br>
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Password Here" id="password" required>
                <br>
                <br>
                <input type="submit" class="button-7" value="LOGIN" onclick=""/>
                <br>
                <br>
            </form>  
        </div>
    </center>
    </div>

    <div id="footer" class="footer">
        <p>© 2022 RMD ERP Portal Created By Jayaram Aditthya and Team</p>
    </div>
</div>
</body>
</html>