<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERP Portal</title>
    <link rel="icon" href="/static/images/clg logo white.jpg" type="image">
    <link rel="stylesheet" href="/static/styles/studentmain.css">
</head>
</head>
<body>
    <form id="frmPageLeft" name="frmPageLeft"  method="POST" target="content" autocomplete="off">
        <table width="100%" cellpadding="5" cellspacing="5">
            <tr>
                <td   valign="top" align="center">
                    <img class="imgPhoto" alt="" src="/static/images/clg logo white.jpg" width="40%" height="50%">
                </td>
            </tr>
            <tr valign="top">
                <td   class="infohead" valign="top" style="background-color :rgb(247, 247, 6);text-align: left;"><font color="#0072dd">Welcome <b>Student Name</b></td>
            </tr>
           
            <tr>
                <td class="infohead" onclick="">Student Profile</td>
            </tr>
            <tr>
                <td class="infohead" onclick="">Online Materials</td>
            </tr>
            <tr>
                <td class="infohead" onclick="">Subjects Details</td>
            </tr>
            <tr>
                <td class="infohead" onclick="">Attendance Details</td>
            </tr>
            <tr>
                <td class="infohead" onclick="">Internal Mark Details</td>
            </tr>  
            <tr>
                <td class="infohead" onclick="">Library Details</td>
            </tr>
            <tr>
                <td class="infohead" onclick="">Semester Exam Time Table</td>
            </tr>
            <tr>
                <td class="infohead" onclick="">Leave Application</td>
            </tr>
            
            <tr>
                <td class="infohead" onclick="">Change Password</td>
            </tr>
            <tr>
                <td class="infohead" onclick="">Fee Paid Details</td>
            </tr>
            <tr>
                <td class="infohead" onclick="">Fee Due Details</td>
            </tr>
            <tr>
                <td class="infohead" onclick="">Hall Ticket</td>
            </tr>
            <tr>
                <td class="infohead" onclick="" style="background-color : red;text-align: left;"><font color="white">Sign Out</td>
            </tr>


        </table>         
    </form>
</body>
</html>